body {
    background-image: url("https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png");
    color: white;
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    text-align: center;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background: white;
}

body::-webkit-scrollbar-thumb {
    background-color: #7E5A9B;
    border-radius: 5px;
    border: 3px solid #7E5A9B;
}

.link {
    color: white;
    text-decoration: none;
}

.text {
    position: relative;
    top: 9px;
    font-size: clamp(8px, 5vw, 16.5px);
}

#menuPrincipal {
    width: 100%;
    height: 70px;
    border: 0px solid #7E5A9B;
    border-bottom: 7px solid #7E5A9B;
    background-color: #000000;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    text-align: center;
    z-index: 2;
}

.opcaoMenu {
    width: 15.5%;
    height: 100%;
    border-right: 2px solid white;
    border-left: 2px solid white;
    background-color: transparent;
    position: relative;
    top: 0px;
    left: 10.1%;
    padding-left: 0.2%;
    padding-right: 0.1%;
    cursor: pointer;
    transition: all 0.5s;
}

.opcaoMenu:hover {
    background-color: #7E5A9B;
}

.opcaoMarcada {
    width: 15.5%;
    height: 100%;
    border-right: 2px solid white;
    border-left: 2px solid white;
    background-color: #7E5A9B;
    position: relative;
    top: 0px;
    left: 10.1%;
    padding-left: 0.1%;
    padding-right: 0.1%;
    cursor: pointer;
}

.imgOpcaoMenu {
    width: 30%;
    height: 60%;
    float: left;
    position: relative;
    top: 20%;
}

.opcaoMenu1 {
    width: 50%;
    height: 70px;
    position: relative;
    top: 0px;
    left: 10%;
    cursor: pointer;
    transition: all 0.5s;
}

.imgOpcaoMenu1 {
    width: 52%;
    height: 60%;
    position: relative;
    top: 25%;
}

/* Menu */
#menuOpcap {
    width: 10.5%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: 82%;
    transition: all 0.5s;
    z-index: 2;
    cursor: pointer;
}

/* #menuOpcap:hover {
    background-color: #7E5A9B;
} */

#imgMenu {
    width: 50%;
    height: 50%;
    position: relative;
    top: 25%;
    transition: 0.3s;
}

#divSobrePokemon {
    width: 68%;
    height: auto;
    position: relative;
    top: 100px;
    left: 16%;
    border: 1px none black;
}

.tituloPokemon {
    color: black;
    font-size: clamp(8px, 5vw, 35px);
    font-weight: bolder;
    text-align: center;
}

.subTituloPokemon {
    color: black;
    font-size: clamp(8px, 5vw, 25px);
    font-weight: bolder;
    text-align: center;
}

.textoPokemon {
    color: black;
    font-size: clamp(8px, 5vw, 20px);
    font-weight: normal;
    text-align: justify;
}

.imgPokemon {
    width: 85%;
    height: auto;
    object-fit: cover;
    margin: 2% 0px 6% 0px;
    border-radius: 5px;
    transition: all 0.3s;
}

.imgPokemon:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.63);
}

.menuOculto {
    height: 100%;
    width: 0%;
    background-image: url("https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png");
    background-color: #000000;
    position: fixed;
    left: 0%;
    top: 0%;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 2;
}

.menuOculto a {
    font-size: 20px;
    padding: 18px 8px 35px 30px;
    position: relative;
    left: 0%;
    top: 10%;
    z-index: 2;
    display: block;
    transition: 0.5s;
}

.menuOculto a:hover {
    border-left: 3px solid #7E5A9B;
    color: #7E5A9B;
}

.lateralEsquerdaPreta {
    position: fixed;
    left: 0px;
    z-index: 1;
    background-color: #00000015;
    width: 15%;
    height: 100%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.63)
}

.lateralDireitaPreta {
    position: fixed;
    right: 0px;
    z-index: 1;
    background-color: #00000015;
    width: 15%;
    height: 100%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.63)
}

.rodape {
    width: 100%;
    height: 250px;
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 1;
    background-color: #1f1f1f;
    color: white;
}

.divRodape {
    position: relative;
    left: 0%;
    width: 40%;
    height: 50%;
    top: -15px;
    padding: 0px 10% 0px 0px;
    border-right: 3px solid #393a39;
    float: left;
}

.divRodape2 {
    position: relative;
    /*right: 0%;*/
    left: 10%;
    width: 40%;
    height: 50%;
    top: -15px;
    padding: 0px;
    float: left;
}

.tituloRodape {
    position: relative;
}

.textoRodape {
    position: relative;
    margin-bottom: 0px;
    transition: all 0.5s;
    cursor: pointer;
}

.textoRodape1 {
    position: relative;
    margin-bottom: -15px;
    transition: all 0.5s;
    cursor: pointer;
}

.textoRodape:hover {
    color: #cac7c7;
}

.textoRodape1:hover {
    color: #cac7c7;
}

@media screen and (max-width: 768px) {
    .imgOpcaoMenu {
        width: 45%;
        height: 60%;
        position: relative;
        left: 25%;
        bottom: 25%;
    }

    #imgMenu {
        width: 95%;
        height: 75%;
        position: relative;
        bottom: 25%;
    }

    .rodape {
        width: 100%;
        height: 250px;
        position: absolute;
        left: 0%;
        right: 0%;
        top: 460%;
        z-index: 3;
        background-color: #1f1f1f;
        color: white;
    }
}