body {
    background-image: url("https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png");
    color: white;
    font-family: 'Anton', sans-serif;
    font-weight: bold;
}

.link {
    position: relative;
    color: white;
    text-decoration: none;
}

.text {
    position: relative;
    top: 9px;
}

#menuPrincipal {
    width: 100%;
    height: 60px;
    border: 0px solid #BC1D1D;
    border-bottom: 7px solid #BC1D1D;
    background-color: #000000;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    text-align: center;
    z-index: 2;
}

.opcaoMenu {
    width: 7.5%;
    height: 60px;
    border-right: 2px solid white;
    border-left: 2px solid white;
    position: relative;
    top: 0px;
    left: 35px;
    padding-left: 3px;
    padding-right: 3px;
    transition: all 0.5s;
}

.opcaoMenu:hover {
    background-color: #BC1D1D;
}

.opcaoMarcada {
    width: 7.5%;
    height: 60px;
    border-right: 2px solid white;
    border-left: 2px solid white;
    background-color: #BC1D1D;
    position: relative;
    top: 0px;
    left: 35px;
    padding-left: 3px;
    padding-right: 3px;
    transition: all 0.5s;
}

.imgOpcaoMenu {
    width: 32px;
    height: 32px;
    float: left;
    position: relative;
    top: 15px;
}

/* Menu */
#menuOpcap {
    width: 58px;
    height: 60px;
    background-color: transparent;
    position: relative;
    top: 0px;
    left: 844px;
    padding-right: 3px;
    transition: all 0.5s;
    z-index: 2;
}

#menuOpcap:hover {
    background-color: #BC1D1D;
    height: 65px;
}

#imgMenu {
    width: 32px;
    height: 32px;
    float: right;
    position: relative;
    top: 15px;
    right: 10px;
}